.container{
    width: 80%;
    margin: -1% auto;
    padding: 2% 0;
}
.img-responsive{
    width : 100%;
}
.img-rounded{
    border-radius: 9px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}
*{
    margin: 0 0;
    padding: 0 0;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
    color:#ff6b81;
}
a:hover{
    color:#ff4757;
}
.clearfix{
    clear: both;
    float: none;
}
.btn{
    padding: 1%;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 70%;

}
.btn-primary{
    background-color: red;
    color: white;
}
.btn-primary:hover{
    color: white;
}
h2{
    color: #57606f;
    margin-bottom: 1%;
}
h3{
    font-size: 1.3rem;
    color: black;
}
/* css for nav bar */
.logo{
    float: left;
    width: 15%;

}
.menu{
    line-height: 60px;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding :1%;
    font-weight: bold;
}
.menu ul li a{
    color: green;
}
/*end of css for nav bar*/

/*css for search bar*/
.search{
    background-image: url(../image/vegfood.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding :7% 0;
    background-position: right;
}
.search input[type=search]{
    width: 50%;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 1%;
    margin-left: 28%;
}
/*css for categories*/
.categories{
    padding: 4% 0;;
}
.card{
    width: 25%;
    margin: 2%;
    float:left;
}
.card:hover{
    transform: translateY(-7%);
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    left :45%;
    bottom: 40px;

}
/*css for food menu*/
.food-menu{
    padding: 4% 0;
    background-color: whitesmoke;
}
.box{
    width: 43%;
    float: left;
    margin: 1%;
    padding: 2%;
    background: gray;
    box-shadow: 5px 10px;
    transition: 1s;
    border-radius: 10px;
}
.box:hover{
    transform: translatex(-5%);
}

.box-img{
    width: 20%;
    float: left;
}
.box-desc{
    width: 70%;
    float: left;
    margin : 2%;
}
.item-price{
    font-size: 1.3rem;
    padding: 1% 0 ;
}
.item-desc{
    font-size: 1rem;
    color: black;
}
.social{
    padding: 4% 0;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 0 1%;
}
.contact-heading{
    padding: 3% 0;
    text-align: center;
    color: white;
}
.contact{
    text-align: center;
    background-image: url(../image/vegfood.png);
}
.form-horizontal{
    width: 60%;
    margin: 4% auto;
    padding: 1%;
    background-color: whitesmoke;
}
.form-horizontal label{
    width: 100%;
    padding: 10% 0;
    margin: 14% 0;
    font-size: 1.2rem;
    font-weight: bold;
}
.form-control{
    border: none;
    width: 98%;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 1%;
    margin: 1% auto;
}
.form-horizontal button{
    width: 50%;
    margin-left: 26%;
    margin-top: 2%;
}
fieldset{
    border: 1 px solid blue;
    text-align: center;
    border-radius: 10px;
    padding:2% 8% ;
    margin: 4% 0 ;
}
.order{
    background-image: url(../image/vegfood.png);
}
/*responsive or for mobile devices*/
@media screen and (max-width: 728px){
    .logo{
        width: 80%;
        float: none;
        padding: 1% 0;
    }
    .menu{
        width: 80%;
        font-size:1rem ;
        float: none;
        text-align: center;
        font-weight: unset;
    }
    .search{
        padding:10% 0;
    }
    .search input[type=search]{
        width:90%;
        padding:2% 0 ;
        margin: 4% 0;
        font-size: 1rem;
        line-height: 10px;
    }
    .btn{
        width:90%;
    }
    .categories{
        padding: 10% 0;
    }
    .card{
        width:90%;
        padding: 0 5%;
    }
    .float-text{
        left: 40%;
    }
    .food-menu{
        padding: 10% 0;
    }
    h2{
        padding: 10% 0;
    }
    .box{
        width: 90%;
        padding:4%;
        margin-bottom:15px ;
    }
    h3{
        font-size: o.9rem;
    }
    .social{
        padding: 10% 0;
    }


}